<a href="https://colab.research.google.com/github/fadillarizalul/goodreads-recommender/blob/main/goodreads_recommendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROYEK MACHINE LEARNING - SISTEM REKOMENDASI

Proyek ini merupakan sistem rekomendasi untuk suatu buku di Goodreads dengan menggunakan pengembangan model Content-based Filtering. Dataset didapatkan dari goodreads Kaggle.

In [ ]:
# Mount dataset in drive google
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Data Understanding

In [ ]:
# Import library
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from pathlib import Path
import matplotlib.pyplot as plt

In [ ]:
# Load and Read the data

ratings = pd.read_csv("/content/drive/MyDrive/Dataset/Goodreads/ratings.csv")
books = pd.read_csv("/content/drive/MyDrive/Dataset/Goodreads/books.csv")

In [ ]:
# Preview lima data teratas dari dataset books

books.head()

    id  ...                                    small_image_url
0  1.0  ...  https://images.gr-assets.com/books/1447303603s...
1  2.0  ...  https://images.gr-assets.com/books/1474154022s...
2  3.0  ...  https://images.gr-assets.com/books/1361039443s...
3  4.0  ...  https://images.gr-assets.com/books/1361975680s...
4  5.0  ...  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]

In [ ]:
# Melihat informasi dari fitur yang ada di dataset books

books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         5000 non-null   float64
 1   book_id                    5000 non-null   float64
 2   best_book_id               5000 non-null   float64
 3   work_id                    5000 non-null   float64
 4   books_count                5000 non-null   float64
 5   isbn                       4745 non-null   object
 6   isbn13                     4784 non-null   float64
 7   authors                    5000 non-null   object
 8   original_publication_year  4991 non-null   float64
 9   original_title             4819 non-null   object
 10  title                      5000 non-null   object
 11  language_code              4619 non-null   object
 12  average_rating             5000 non-null   float64
 13  ratings_count              5000 non-null   float64
 14  work_ratings_count         5000 non-null   float64
 15  work_text_reviews_count    5000 non-null   float64
 16  ratings_1                  5000 non-null   float64
 17  ratings_2                  5000 non-null   float64
 18  ratings_3                  5000 non-null   float64
 19  ratings_4                  5000 non-null   float64
 20  ratings_5                  5000 non-null   float64
 21  image_url                  5000 non-null   object
 22  small_image_url            5000 non-null   object
dtypes: float64(16), object(7)
memory usage: 1.8+ MB

In [ ]:
# Melihat ukuran dataset books

books.shape

(10000, 23)

In [ ]:
# Preview lima data teratas dari dataset ratings

ratings.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [ ]:
# Melihat informasi dari fitur yang ada di dataset ratings

ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   book_id  5000 non-null   int64
 1   user_id  5000 non-null   int64
 2   rating   5000 non-null   int64
dtypes: int64(3)
memory usage: 117.3 KB

# Data Preprocessing

In [ ]:
# Cek missing value dengan fungsi isnull()
books.isnull().sum()

id                           5000
book_id                      5000
best_book_id                 5000
work_id                      5000
books_count                  5000
isbn                         5255
isbn13                       5216
authors                      5000
original_publication_year    5009
original_title               5181
title                        5000
language_code                5381
average_rating               5000
ratings_count                5000
work_ratings_count           5000
work_text_reviews_count      5000
ratings_1                    5000
ratings_2                    5000
ratings_3                    5000
ratings_4                    5000
ratings_5                    5000
image_url                    5000
small_image_url              5000
dtype: int64

In [ ]:
# Cek missing value dengan fungsi isnull()
ratings.isnull().sum()

book_id    0
user_id    0
rating     0
dtype: int64

# Data Preparation

## Handle Missing Value

In [ ]:
# Membersihkan missing value dengan fungsi dropna()
books_clean = books.dropna()
books_clean.isnull().sum()

id                           0
book_id                      0
best_book_id                 0
work_id                      0
books_count                  0
isbn                         0
isbn13                       0
authors                      0
original_publication_year    0
original_title               0
title                        0
language_code                0
average_rating               0
ratings_count                0
work_ratings_count           0
work_text_reviews_count      0
ratings_1                    0
ratings_2                    0
ratings_3                    0
ratings_4                    0
ratings_5                    0
image_url                    0
small_image_url              0
dtype: int64

In [ ]:
# Menggabungkan dataframe books_clean dengan ratings dan memasukkannya ke dalam variabel all_book
all_book = pd.merge(books_clean, ratings, on='book_id', how='left')
all_book.head()

    id    book_id  ...  user_id  rating
0  1.0  2767052.0  ...      NaN     NaN
1  2.0        3.0  ...    314.0     3.0
2  2.0        3.0  ...    588.0     1.0
3  2.0        3.0  ...   2077.0     2.0
4  2.0        3.0  ...   2487.0     3.0

[5 rows x 25 columns]

In [ ]:
# Mengonversi data series book_id menjadi dalam bentuk list
book_id = all_book['book_id'].tolist()
 
# Mengonversi data series title menjadi dalam bentuk list
book_name = all_book['title'].tolist()
 
# Mengonversi data series authors menjadi dalam bentuk list
book_cuisine = all_book['authors'].tolist()
 
print(len(book_id))
print(len(book_name))
print(len(book_cuisine))

6115
6115
6115

In [ ]:
# Membuat dictionary untuk data ‚Äòbook_id‚Äô, ‚Äòtitle‚Äô, dan ‚Äòauthors‚Äô
book_new = pd.DataFrame({
    'book_id': book_id,
    'title': book_name,
    'authors': book_cuisine
})
book_new

         book_id  ...                      authors
0      2767052.0  ...              Suzanne Collins
1            3.0  ...  J.K. Rowling, Mary GrandPr√©
2            3.0  ...  J.K. Rowling, Mary GrandPr√©
3            3.0  ...  J.K. Rowling, Mary GrandPr√©
4            3.0  ...  J.K. Rowling, Mary GrandPr√©
...          ...  ...                          ...
6110   3993839.0  ...             Jonathan Maberry
6111    545951.0  ...                 Willa Cather
6112  17312201.0  ...                 Rick Riordan
6113     52823.0  ...      Moli√®re, Martin Sorrell
6114   4701550.0  ...                 Larissa Ione

[6115 rows x 3 columns]

# Model Development dengan Content-based

## TF-IDF Vectorizer

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
 
# Inisialisasi TfidfVectorizer
tf = TfidfVectorizer()
 
# Melakukan perhitungan idf pada data authors
tf.fit(book_new['authors']) 
 
# Mapping array dari fitur index integer ke fitur nama
tf.get_feature_names()

['aaron',
 'aaronovitch',
 'ab',
 'abagnale',
 'abbey',
 'abbi',
 'abbott',
 'abby',
 'abdul',
 'abel',
 'abercrombie',
 'abraham',
 'acevedo',
 'achebe',
 'ackerman',
 'ackroyd',
 'adam',
 'adams',
 'addison',
 'adeline',
 'adichie',
 'adiga',
 'adlard',
 'adler',
 'adolf',
 'adolph',
 'adorf',
 'adornetto',
 'adrian',
 'adriana',
 'aeschylus',
 'aesop',
 'agassi',
 'agatha',
 'agnete',
 'aguirre',
 'ahdieh',
 'ahern',
 'ai',
 'aimee',
 'aja',
 'ajvide',
 'akira',
 'al',
 'alaa',
 'alabort',
 'alan',
 'alastair',
 'albanese',
 'albee',
 'albert',
 'albertalli',
 'albom',
 'albus',
 'alcott',
 'aldiss',
 'aldous',
 'aleatha',
 'alec',
 'aleida',
 'aleksandr',
 'alethea',
 'alev',
 'alex',
 'alexander',
 'alexandra',
 'alexandre',
 'alexie',
 'alfred',
 'ali',
 'alice',
 'alighieri',
 'alison',
 'allan',
 'allard',
 'allen',
 'allende',
 'allison',
 'allred',
 'allsburg',
 'ally',
 'alpert',
 'alphona',
 'alsanousi',
 'alvarez',
 'alvin',
 'alyson',
 'amanda',
 'amaro',
 'ambroise',
 'ambrose',
 'amie',
 'amish',
 'amor',
 'amos',
 'amy',
 'ana',
 'andersen',
 'anderson',
 'andre',
 'andrea',
 'andrew',
 'andrews',
 'andrzej',
 'andr√©',
 'andy',
 'angela',
 'angelini',
 'angelo',
 'angelou',
 'angie',
 'angleberger',
 'anita',
 'anjali',
 'ann',
 'anna',
 'anne',
 'annette',
 'annie',
 'anonymous',
 'ansari',
 'ansay',
 'anson',
 'anthea',
 'anthony',
 'antoine',
 'anton',
 'antonia',
 'antonina',
 'antony',
 'anya',
 'aparo',
 'applegate',
 'aprilynne',
 'aprix',
 'arakawa',
 'aram',
 'aravind',
 'archambault',
 'archer',
 'ariana',
 'ariely',
 'aristophanes',
 'aristotle',
 'arkady',
 'arlene',
 'armentrout',
 'armistead',
 'armstrong',
 'arnold',
 'aronofsky',
 'arrasmith',
 'art',
 'arthur',
 'arun',
 'arundhati',
 'asher',
 'ashley',
 'ashton',
 'ashwin',
 'asimov',
 'aslan',
 'astrid',
 'aswany',
 'athena',
 'atkinson',
 'atsushi',
 'atul',
 'atwater',
 'atwood',
 'aubrey',
 'audrey',
 'auel',
 'auerbach',
 'august',
 'augusten',
 'aurelius',
 'austen',
 'auster',
 'austin',
 'ava',
 'avery',
 'aveyard',
 'avi',
 'avillez',
 'ayaan',
 'ayana',
 'aylmer',
 'ayn',
 'azar',
 'aziz',
 'azzarello',
 'babbitt',
 'bach',
 'bachalo',
 'bachman',
 'bacigalupi',
 'backman',
 'backus',
 'bacon',
 'bagnold',
 'bagram',
 'baines',
 'bair',
 'baker',
 'baldacci',
 'baldwin',
 'balent',
 'ballaster',
 'balson',
 'balzac',
 'ban',
 'banana',
 'banesh',
 'banks',
 'banksy',
 'bantock',
 'barack',
 'barbara',
 'barbery',
 'barbosa',
 'barb√£o',
 'bardugo',
 'barker',
 'barkley',
 'barnes',
 'barnouin',
 'barrett',
 'barrie',
 'barrows',
 'barry',
 'barslund',
 'bart',
 'bartlett',
 'barton',
 'basil',
 'bassett',
 'bauby',
 'baudelaire',
 'baum',
 'bawden',
 'baxter',
 'bayles',
 'bayley',
 'baym',
 'baynes',
 'beagle',
 'beah',
 'bear',
 'beatrice',
 'beatrix',
 'beatriz',
 'beatty',
 'beauman',
 'becca',
 'beck',
 'becky',
 'beddor',
 'bedell',
 'bee',
 'beecher',
 'beer',
 'beevor',
 'behrendt',
 'belfort',
 'belfoure',
 'bell',
 'belsey',
 'belva',
 'bemelmans',
 'ben',
 'benchley',
 'bender',
 'benioff',
 'benjamin',
 'berendt',
 'berenstain',
 'berg',
 'berger',
 'bermejo',
 'bernard',
 'berne',
 'bernhard',
 'bernie',
 'berni√®res',
 'bernstein',
 'berry',
 'bertholle',
 'bertrand',
 'beryl',
 'bester',
 'beth',
 'betsy',
 'bettina',
 'betty',
 'beukes',
 'beverly',
 'bhagat',
 'bianco',
 'bigsby',
 'bill',
 'billie',
 'binchy',
 'bird',
 'birkbeck',
 'birnbaum',
 'bisco',
 'bishop',
 'bittman',
 'black',
 'blackman',
 'blaine',
 'blair',
 'blake',
 'blanch',
 'blanchard',
 'blatty',
 'bleyer',
 'bliss',
 'bloch',
 'bloom',
 'bloomquist',
 'bloor',
 'blossom',
 'blum',
 'blume',
 'blyton',
 'bo',
 'bob',
 'boccaccio',
 'bodecker',
 'bodow',
 'bogin',
 'bohjalian',
 'boiger',
 'bola√±o',
 'bolland',
 'bolton',
 'bond',
 'bondanella',
 'bonhoeffer',
 'bonner',
 'boo',
 'boom',
 'booth',
 'borges',
 'boris',
 'born',
 'bosch',
 'bouis',
 'boulle',
 'bourdain',
 'bowden',
 'bowen',
 'bowie',
 'boyle',
 'boyne',
 'boynton',
 'bozza',
 'bracken',
 'brad',
 'bradbury',
 'bradford',
 'bradley',
 'bragg',
 'brailovsky',
 'bram',
 'brand',
 'brandon',
 'branson',
 'brashares',
 'braun',
 'bray',
 'breathnach',
 'bree',
 'brendan',
 'brennan',
 'brennert',
 'brent',
 'bren√©',
 'bret',
 'brett',
 'brewer',
 'breyfogle',
 'brian',
 'brick',
 'bridges',
 'brien',
 'briggs',
 'brigitte',
 'brin',
 'brink',
 'brod',
 'brodbeck',
 'brodi',
 'broer',
 'bromfield',
 'bront√´',
 'brooks',
 'brosgol',
 'brother',
 'brown',
 'browne',
 'broyles',
 'brubaker',
 'bruce',
 'brumm',
 'brunhoff',
 'brunt',
 'bryan',
 'bryce',
 'bryn',
 'bryson',
 'buchanan',
 'buck',
 'buckingham',
 'buckley',
 'buffett',
 'bugliosi',
 'bukowski',
 'bulgakov',
 'burgess',
 'burgin',
 'burnett',
 'burnford',
 'burns',
 'burrough',
 'burroughs',
 'burton',
 'bush',
 'bushnell',
 'busiek',
 'buss',
 'butcher',
 'butler',
 'byatt',
 'byrne',
 'byron',
 'bysshe',
 'cabot',
 'cahalan',
 'cahill',
 'cain',
 'caine',
 'caistor',
 'caitlin',
 'caldwell',
 'caleb',
 'call',
 'calvino',
 'cameron',
 'camilla',
 'camille',
 'campbell',
 'camus',
 'canavan',
 'candace',
 'candice',
 'canfield',
 'cannon',
 'cao',
 'capote',
 'capullo',
 'caragh',
 'card',
 'cardwell',
 'carey',
 'carl',
 'carle',
 'carlo',
 'carlos',
 'carlson',
 'carmack',
 'carman',
 'carnegie',
 'carol',
 'caroline',
 'carolyn',
 'carpenter',
 'carr',
 'carrie',
 'carriger',
 'carroll',
 'carruth',
 'carson',
 'carter',
 'carvell',
 'carver',
 'cary',
 'case',
 'cashore',
 'caso',
 'cass',
 'cassaday',
 'cassandra',
 'cassidy',
 'cast',
 'castaneda',
 'castelao',
 'castle',
 'cates',
 'cather',
 'catherine',
 'catherynne',
 'cathy',
 'catmull',
 'catton',
 'cece',
 'cecelia',
 'cecily',
 'celeste',
 'cel√¢l',
 'cenac',
 'cervantes',
 'chabon',
 'chad',
 'chadwick',
 'chaim',
 'chainani',
 'chalk',
 'chamberlain',
 'chambers',
 'chan',
 'chandler',
 'chang',
 'chaon',
 'chapman',
 'charbonneau',
 'charbonnet',
 'charlaine',
 'charles',
 'charlie',
 'charlotte',
 'chast',
 'chaucer',
 'chbosky',
 'che',
 'chekhov',
 'chelsea',
 'chen',
 'cherie',
 'chernow',
 'cheryl',
 'chester',
 'chesterton',
 'chetan',
 'chevalier',
 'chevy',
 'chi',
 'child',
 'chima',
 'chimamanda',
 'china',
 'chinua',
 'chip',
 'chloe',
 'choderlos',
 'choldenko',
 'chopin',
 'chopra',
 'chris',
 'christensen',
 'christian',
 'christie',
 'christin',
 'christina',
 'christine',
 'christopher',
 'christopherson',
 'christos',
 'chuck',
 'chungliang',
 'cialdini',
 'cinda',
 'cisneros',
 'cixin',
 'claire',
 'clamp',
 'clancy',
 'clara',
 'clare',
 'clarence',
 'clarissa',
 'clark',
 'clarke',
 'claudia',
 'clavell',
 'clay',
 'clayton',
 'cleary',
 'cleave',
 'clement',
 'clements',
 'cline',
 'clinton',
 'clive',
 'close',
 'cloud',
 'clowes',
 'coates',
 'cobb',
 'coben',
 'cocks',
 'coco',
 'coelho',
 'coetzee',
 'coffman',
 'coghill',
 'cohn',
 'colasanti',
 'colbert',
 'cole',
 'coleridge',
 'colfer',
 'colleen',
 'collins',
 'collodi',
 'colm',
 'colson',
 'colum',
 'company',
 'conan',
 'condie',
 'condon',
 'conklin',
 'conn',
 'connelly',
 'connie',
 'connolly',
 'connor',
 'conrad',
 'conroy',
 'constance',
 'conway',
 'cook',
 'cooney',
 'coonts',
 'cooper',
 'cora',
 'corbett',
 'corddry',
 'corey',
 'cormac',
 'cormier',
 'cornelia',
 'corngold',
 'cornwell',
 'corrie',
 'cort√©s',
 'cory',
 'costa',
 'costlow',
 'cote',
 'cotta',
 'coupland',
 'courtenay',
 'covan',
 'covey',
 'coward',
 'cox',
 'craden',
 'craig',
 'craighead',
 'crane',
 'cranston',
 'crayon',
 'creech',
 'creighton',
 'cremer',
 'cress',
 'crichton',
 'crick',
 'cristina',
 'critt',
 'crocker',
 'crockett',
 'cronin',
 'crosley',
 'cross',
 'crouch',
 'croutier',
 'crow',
 'cruikshank',
 'crusie',
 'cruz',
 'csikszentmihalyi',
 'culbard',
 'cullen',
 'cumming',
 'cummings',
 'cunning',
 'cunningham',
 'cupcake',
 'curham',
 'curt',
 'curtis',
 'cushman',
 'cussler',
 'cutler',
 'cynthia',
 'c√©line',
 'daerick',
 'dafoe',
 'dagys',
 'dahl',
 'dahm',
 'dai',
 'daisy',
 'dalai',
 'dale',
 'dalton',
 'dameron',
 'dan',
 'danae',
 'daniel',
 'danielewski',
 'danielle',
 'danko',
 'danler',
 'danny',
 'dante',
 'danticat',
 'daphne',
 'darick',
 'darling',
 'darrel',
 'darren',
 'darwin',
 'darynda',
 'dashiell',
 'dashner',
 'dass',
 'dav',
 'dava',
 'dave',
 'david',
 'davidson',
 'davies',
 'davis',
 'dawe',
 'dawkins',
 'day',
 'daywalt',
 'de',
 'deal',
 'dean',
 'deane',
 'deaver',
 'debbie',
 'deborah',
 'decarlo',
 'dedman',
 'dee',
 'deepak',
 'defelice',
 'defoe',
 'degen',
 'degeneres',
 'degrave',
 'deidre',
 'dekker',
 'del',
 'delaney',
 'delbanco',
 'delillo',
 'dell',
 'dellaira',
 'demaria',
 'demick',
 'demille',
 'deming',
 'demott',
 'denis',
 'dennis',
 'denslow',
 'denver',
 'depaola',
 'derek',
 'derleth',
 'derting',
 'desai',
 'descartes',
 'desmond',
 'despain',
 'dessen',
 'destefano',
 'deveraux',
 'dewitt',
 'dexter',
 'di',
 'diamant',
 'diamond',
 'diana',
 'diane',
 'dias',
 'diaz',
 'dicamillo',
 'dick',
 'dickens',
 'dicker',
 'dickey',
 'dickinson',
 'dicks',
 'dickson',
 'didion',
 'dietrich',
 'diffenbaugh',
 'dill',
 'dillon',
 'dinello',
 'dirk',
 'diskin',
 'disney',
 'diterlizzi',
 'dixon',
 'dmitry',
 'dockray',
 'doctorow',
 'dodie',
 'doidge',
 'dolin',
 'dom',
 'dominique',
 'don',
 'donald',
 'donaldson',
 'donati',
 'donna',
 'donnelly',
 'donoghue',
 'donovan',
 'dooling',
 'doran',
 'doreen',
 'doria',
 'doris',
 'dorman',
 'dorothy',
 'dor√©',
 'dostoyevsky',
 'doubleday',
 'doug',
 'doughty',
 'douglas',
 'douglass',
 'dowd',
 'downham',
 'doxey',
 'doyle',
 'dr',
 'draanen',
 'draper',
 'dreiser',
 'drevs',
 'drew',
 'dringenberg',
 'druckerman',
 'druyan',
 'drydale',
 'drysdale',
 'drzka',
 'du',
 'duane',
 'dubbin',
 'dubner',
 'dubus',
 'dugard',
 'duhigg',
 'dumas',
 'dumbledore',
 'dunant',
 'duncan',
 'dunham',
 'dunn',
 'duprau',
 'duras',
 'durrell',
 'dustin',
 'dwaipayana',
 'dweck',
 'dworkin',
 'dyer',
 'dylan',
 'd√≠az',
 'eager',
 'eagleson',
 'eareckson',
 'earl',
 'eastman',
 'easton',
 'eben',
 'ebershoff',
 'echevarr√≠a',
 'echols',
 'eckhart',
 'eco',
 'ed',
 'eddie',
 'eddings',
 'edgar',
 'edginton',
 'edith',
 'edmond',
 'edmund',
 'edsel',
 'edward',
 'edwards',
 'edwidge',
 'edwin',
 'ee',
 'egan',
 'egerton',
 'eggers',
 'ehlert',
 'ehrenreich',
 'eichler',
 'eiichir≈ç',
 'eithne',
 'elaine',
 'elder',
 'eleanor',
 'elena',
 'elie',
 'elif',
 'elin',
 'eliopoulos',
 'eliot',
 'eliyahu',
 'elizabeth',
 'elkeles',
 'elle',
 'ellen',
 'ellendea',
 'elliot',
 'elliott',
 'ellis',
 'ellison',
 'ellroy',
 'else',
 'elwes',
 'emerson',
 'emily',
 'emma',
 'emmuska',
 'ende',
 'engels',
 'enger',
 'engle',
 'english',
 'enid',
 'ennis',
 'eoin',
 'eowyn',
 'ephron',
 'erdaƒü',
 'erdrich',
 'eric',
 'erich',
 'erickson',
 'erik',
 'erika',
 'erikson',
 'erin',
 'ering',
 'ernest',
 'ernesto',
 'ernst',
 'erskine',
 'erwin',
 'escher',
 'esphyr',
 'esp√≠n',
 'esquivel',
 'estes',
 'esther',
 'est√©s',
 'eteel',
 'eugene',
 'eugenides',
 'eugenio',
 'euripides',
 'evanovich',
 'evans',
 'evelyn',
 'everett',
 'exup√©ry',
 'ey',
 'eyre',
 'ezra',
 'faber',
 'fabry',
 'fadiman',
 'fagles',
 'fahnestock',
 'fairbairn',
 'falconer',
 'falcones',
 'falen',
 'fall',
 'fannie',
 ...]

In [ ]:
# Melakukan fit lalu ditransformasikan ke bentuk matrix
tfidf_matrix = tf.fit_transform(book_new['authors']) 
 
# Melihat ukuran matrix tfidf
tfidf_matrix.shape

(6115, 3485)

In [ ]:
# Mengubah vektor tf-idf dalam bentuk matriks dengan fungsi todense()
tfidf_matrix.todense()

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
# Membuat dataframe untuk melihat tf-idf matrix
# Kolom diisi dengan authors
# Baris diisi dengan judul buku
 
pd.DataFrame(
    tfidf_matrix.todense(), 
    columns=tf.get_feature_names(),
    index=book_new.title
).sample(22, axis=1).sample(10, axis=0)

                                                    gorey  ...  slash
title                                                      ...
The Tiger's Wife                                      0.0  ...    0.0
Salem Falls                                           0.0  ...    0.0
The Prodigal God: Recovering the Heart of the C...    0.0  ...    0.0
Winter Prey (Lucas Davenport, #5)                     0.0  ...    0.0
What Happened to Goodbye                              0.0  ...    0.0
Seven Up (Stephanie Plum, #7)                         0.0  ...    0.0
Dragonflight (Dragonriders of Pern, #1)               0.0  ...    0.0
Zen Mind, Beginner's Mind: Informal Talks on Ze...    0.0  ...    0.0
Harry Potter and the Order of the Phoenix (Harr...    0.0  ...    0.0
The Magician (The Secrets of the Immortal Nicho...    0.0  ...    0.0

[10 rows x 22 columns]

## Cosine Similarity

Pada tahap sebelumnya, kita telah berhasil mengidentifikasi korelasi antara judul buku dengan kategori penulisnya. Sekarang, kita akan menghitung derajat kesamaan (similarity degree) antar judul buku dengan teknik cosine similarity. Di sini, kita menggunakan fungsi cosine_similarity dari library sklearn.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
 
# Menghitung cosine similarity pada matrix tf-idf
cosine_sim = cosine_similarity(tfidf_matrix) 
cosine_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

Selanjutnya, mari kita lihat matriks kesamaan setiap author dengan menampilkan judul buku dalam 5 sampel kolom (axis = 1) dan 10 sampel baris (axis=0)

In [ ]:
# Membuat dataframe dari variabel cosine_sim dengan baris dan kolom berupa judul buku
cosine_sim_df = pd.DataFrame(cosine_sim, index=book_new['title'], columns=book_new['title'])
print('Shape:', cosine_sim_df.shape)
 
# Melihat similarity matrix pada setiap judul buku
cosine_sim_df.sample(5, axis=1).sample(10, axis=0)

Shape: (6115, 6115)

title                                               Gabriel's Rapture (Gabriel's Inferno, #2)  ...  The Fellowship of the Ring (The Lord of the Rings, #1)
title                                                                                          ...
Physik (Septimus Heap, #3)                                                                0.0  ...                                                0.0
Cryptonomicon                                                                             0.0  ...                                                0.0
The Book Thief                                                                            0.0  ...                                                0.0
Harry Potter and the Sorcerer's Stone (Harry Po...                                        0.0  ...                                                0.0
The Golden Compass (His Dark Materials, #1)                                               0.0  ...                                                0.0
The Ultimate Hitchhiker's Guide to the Galaxy                                             0.0  ...                                                0.0
Birdsong                                                                                  0.0  ...                                                0.0
Broken (Will Trent, #4)                                                                   0.0  ...                                                0.0
Running Blind (Jack Reacher, #4)                                                          0.0  ...                                                0.0
The Fellowship of the Ring (The Lord of the Rin...                                        0.0  ...                                                1.0

[10 rows x 5 columns]

## Mendapatkan Rekomendasi

In [ ]:
def book_recommendations(nama_buku, similarity_data=cosine_sim_df, items=book_new[['title', 'authors']], k=5):
    """
    Rekomendasi Judul Buku berdasarkan kemiripan dataframe
 
    Parameter:
    ---
    nama_resto : tipe data string (str)
                Nama Restoran (index kemiripan dataframe)
    similarity_data : tipe data pd.DataFrame (object)
                      Kesamaan dataframe, simetrik, dengan resto sebagai 
                      indeks dan kolom
    items : tipe data pd.DataFrame (object)
            Mengandung kedua nama dan fitur lainnya yang digunakan untuk mendefinisikan kemiripan
    k : tipe data integer (int)
        Banyaknya jumlah rekomendasi yang diberikan
    ---
 
 
    Pada index ini, kita mengambil k dengan nilai similarity terbesar 
    pada index matrix yang diberikan (i).
    """
 
 
    # Mengambil data dengan menggunakan argpartition untuk melakukan partisi secara tidak langsung sepanjang sumbu yang diberikan    
    # Dataframe diubah menjadi numpy
    # Range(start, stop, step)
    index = similarity_data.loc[:,nama_buku].to_numpy().argpartition(
        range(-1, -k, -1))
    
    # Mengambil data dengan similarity terbesar dari index yang ada
    closest = similarity_data.columns[index[-1:-(k+2):-1]]
 
    return pd.DataFrame(closest).merge(items).head(k)

Selanjutnya, mari kita terapkan kode di atas untuk menemukan rekomendasi judul buku yang mirip dengan Light in August

In [ ]:
# Menemukan buku yang akan direkomendasikan
book_new[book_new.title.eq('Light in August')]

      book_id            title           authors
3651  10979.0  Light in August  William Faulkner

Dapat dilihat, Light in August masuk dalam kategori authors William Faulkner. Sehingga diharapkan rekomendasi yang diberikan adalah judul buku dengan kategori authors yang mirip. Nah, sekarang, dapatkan book recommendation dengan memanggil fungsi yang telah kita definisikan sebelumnya:

In [ ]:
# Mendapatkan rekomendasi judul buku yang mirip dengan 'Light in August'
book_recommendations('Light in August')

                                  title           authors
0    A Rose for Emily and Other Stories  William Faulkner
1                     Absalom, Absalom!  William Faulkner
2                       Light in August  William Faulkner
3                        As I Lay Dying  William Faulkner
4  Songs of Innocence and of Experience     William Blake

# Evaluation

Evaluasi terhadap model yang dibuat, digunakan metrik **precision**.

Dari 5 item yang direkomendasikan di atas, 4 item memiliki kategori authors William Faulkner (similar). Artinya, **Precision** untuk sistem yang didapatkan yaitu berdasarkan pada formula **precision** berikut

![formula precision.png]()

Dari 5 item yang direkomendasikan di atas, 4 item memiliki kategori authors William Faulkner (similar). Artinya, **Precision** untuk sistem yang didapatkan yaitu sebesar 4/5 atau 80%.